<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hex-rwd-practice
    link(rel="stylesheet", href="all.css", type="text/css")
body
    header 
        .container
            .top
                h1.icon 
                    a(href="") 六角西餐廳
                ul.menu
                    li
                        a(href="") 特色
                    li
                        a(href="") 主廚
                    li
                        a(href="") 地圖
            .bottom
                .promotion
                    h2.title 咬一口就無法忘懷的漢堡
                    .content 七夕絕對無法錯過的好滋味 </br> <i class="fa fa-cutlery" aria-hidden="true"></i> 起士雙牛堡 <i class="fa fa-cutlery" aria-hidden="true"></i>
    section.tips
    section.chef 
    section.comments
    section.map
    footer  
        .about
        .content
        .icon-and-social-menu
            h2.icon
            ul.social-menu
