<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hex-rwd-practice
    link(rel="stylesheet", href="all.css", type="text/css")
body
    header 
        .container
            .top
                h1.icon 
                    a(href="") 六角西餐廳
                ul.menu
                    li
                        a(href="") 特色
                    li
                        a(href="") 主廚
                    li
                        a(href="") 地圖
            .bottom
                .promotion
                    h2.title 咬一口就無法忘懷的漢堡
                    .content 七夕絕對無法錯過的好滋味 </br> <i class="fa fa-cutlery" aria-hidden="true"></i> 起士雙牛堡 <i class="fa fa-cutlery" aria-hidden="true"></i>
    section.tips
        .container
            .tips-title-block
                hr
                .tips-title 客人總是詢問 <br> 這麼好吃的秘訣是什麼
            ul.tips-list
                li
                    img(src="images/feature_1.png", alt="")
                    .tip-title 台灣本土蔬菜
                    .tip-content In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
                li
                    img(src="images/feature_2.png", alt="")
                    .tip-title 專業米其林廚師
                    .tip-content Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
                li
                    img(src="images/feature_3.png", alt="")
                    .tip-title 對於專業不能退讓
                    .tip-content Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
    section.chef 
        .container
            chef-photo.img
            .chef-description
                h2.today-chef-ch
                h2.today-chef-en
                .chef-description
    section.comments
    section.map
    footer  
        .about
        .content
        .icon-and-social-menu
            h2.icon
            ul.social-menu
