<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title hex-rwd-practice
    link(rel="stylesheet", href="all.css", type="text/css")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin="anonymous")
    script(src="all.js")
body
    header 
        .container
            .top
                h1.icon 
                    a(href="") 銓寶西餐廳
                ul.menu
                    li.menu-li
                        a(href="") 特色
                    li.menu-li
                        a(href="") 主廚
                    li.menu-li
                        a(href="").last 地圖
                a.a-show-menu(href="#") <i class="fa fa-bars" aria-hidden="true"></i>
            .bottom
                .promotion
                    h2.title 咬一口<br class="mob-display">就無法忘懷的漢堡
                    .content 七夕絕對無法錯過的好滋味 </br> <i class="fa fa-cutlery" aria-hidden="true"></i> 起士雙牛堡 <i class="fa fa-cutlery" aria-hidden="true"></i>
    section.tips
        .container
            .tips-title-block
                hr
                .tips-title 客人總是詢問 <br> 這麼好吃的秘訣是什麼
            ul.tips-list
                li
                    img(src="images/feature_1.png", alt="")
                    .tip-title 台灣本土蔬菜
                    .tip-content In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
                li
                    img(src="images/feature_2.png", alt="")
                    .tip-title 專業米其林廚師
                    .tip-content Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
                li.final-li
                    img(src="images/feature_3.png", alt="")
                    .tip-title 對於專業不能退讓
                    .tip-content Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
    section.chef 
        .container
            img(src="images/main_chef_brown.png", alt="").chef-photo
            .chef-description
                h2.today-chef-ch 今日主廚：帕森‧梅伯
                h2.today-chef-en Tody Chef: Plum in Mayber
                .content Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
    section.comments
        .container 
            .comments-section-title 聽聽別人的感想
            ul.comments-list
                li
                    img(src="images/avatar_1.png", alt="")
                    .comment-section
                        .name 台北一口吃
                        .content 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                        .nickname --文山一哥
                li
                    img(src="images/avatar_2.png", alt="")
                    .comment-section
                        .name 通化小霸王
                        .content 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                        .nickname --擺攤一哥
                li
                    img(src="images/avatar_3.png", alt="")
                    .comment-section
                        .name 春天也來了
                        .content 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                        .nickname --美麗萬分
    section.map
        .container
            .title 我們的位置不太夠坐<br>要不要先訂位呢？
            .content
                img.map(src="images/Map.png", alt="")
                form
                    .name-input-section
                        label(for="name") 姓名
                        input(type="text" placeholder="畢業季尾牙" id="name")
                    .phone-input-section
                        label(for="phone") 電話
                        input(type="tel" placeholder="02-1234567" id="phone")
                    .email-input-section
                        label(for="email") 信箱
                        input(type="email" placeholder="aaa123@gmail.com" id="email")
                    .participants-input-section
                        label(for="participants") 人數
                        input(type="number" placeholder="請輸入參加人數" id="participants")
                    //- label(for="vegetarian-y") 是否需要素食
                    //- #[input(type="radio" id="vegetarian-y" name="vegetarian" value="y")] 是
                    //- #[input(type="radio" id="vegetarian-n" name="vegetarian" value="n")] 否
                    .btns-section
                        button.cancel(type="submit") 取消
                        button.submit(type="submit") 送出
    footer
        .container
            .about-section  
                .about
                    .title 關於 六角西餐廳
                    .content Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
                .contact
                    .title 聯絡方式
                    ul.content
                        li •  高雄市中正五路到底
                        li •  +886 886 886
                        li •  service@hexschool.com
            .icon-and-social-menu
                h2.icon 銓寶西餐廳
                .social-menu
                    i.fa.fa-google-plus-square(aria-hidden="true")
                    i.fa.fa-twitter-square(aria-hidden="true")
                    i.fa.fa-facebook-square(aria-hidden="true")