section.chef {
    background-color: #3D1101;
    .container {
        max-width: 1049px;
        margin: 0 auto;
        display: flex;
        img {
            max-width: 470px;
            // height: 460px;
            margin-right: 25px;
            margin-left: 10px;
        }
        .chef-description {
            color: #EFE9E7;
            text-align: left;
            margin: 50px 0;
            max-width: 100%;
            h2.today-chef-ch {
                font-size: 20px;
                text-align: left;
                line-height: 32px;
            }
            h2.today-chef-en {
                font-size: 16px;
                text-align: left;
                margin-bottom: 1em;
            }
            .content {
                font-size: 16px;
                text-align: left;
                line-height: 24px;
                // border: 5px solid blue;
                max-width: 410px;
            }
        }
    }
}