@import "mixin";
@import "font-awesome/font-awesome";

@include tablet () {
  body.menu-show { // 要記得加上body才選得到！！
    header {
      .top
        ul.menu {
          // border-color: green;
          max-height: 500px;
        }
    }
  }
}



header {
  // border-color: blue;
  background-color: black;
  .container {
    background-image: url(../images/header_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 960px;
    height: 420px;
    margin: 0 auto;
    padding: 0 20px;
    @include desktop_min () {
      max-width: 769px;
      background-image: url(../images/header_tablet.png);
      background-size: cover;
    }
    @include tablet () {
      max-width: 560px;
      background-image: url(../images/header_mobile.png);
    }
    .top {
      height: 56px;
      display: flex;
      justify-content: space-between;
      position: relative;
      h1.icon {
        margin-left: 42px;
        display: flex;
        align-items: center;
        a {
          border: none;
          display: block;
          width: 121px;
          height: 25px;
          background-image: url(../images/logo_in_header.png);
          background-size: cover;
          background-repeat: no-repeat;
          @include textReplacement;
        }
      }
      ul.menu {
        display: flex;
        margin-right: 48px;
        align-items: center;
        @include tablet () {
          // 隱藏 ul.menu
          // border: 3px solid blue;
          max-height: 0px;
          overflow: hidden;

          // 先把要彈出的menu、ul、li的樣式準備好
          position: absolute;
          top: 57px;
          flex-direction: column;
          width: 100%;
          margin: 0;
          li.menu-li {
            margin-right: 0;
            width: 100%;
            a {
              border: 2px solid red;
              border-bottom: 0;
              background-color: #080808;
              padding: 5px 0;
              &:hover {
                background-color: #333;
              }
            }
            a.last {
               border-bottom: 2px solid red;
            }
          }

          transition: max-height 0.5s;
          z-index: 100;
        }
        li {
          font-size: 16px;
          margin-right: 30px;
          a {
            text-decoration: none;
            display: block;
            // border-color: pink;
            color: white;
            // height: 56px;
            &:hover {
              color: red;
            }
          }
        }
      }
      a.a-show-menu {
        color: white;
        font-size:50px;
        line-height: 30px;
        // border: 2px solid red;
        display: none;
        &:hover {
          color: red;
        }
        @include tablet () {
          display: block;
        }
      }
    }
    .bottom {
      .promotion {
          max-width: 480px;
          height: 152px;
          margin: 0 auto;
          margin-top: 67px;
          // margin-bottom: 145px;
          color: white;
          background: rgba(0,0,0,0.35);
          @include tablet () {
            height: 194px;
          }
          h2.title {
              display: inline-block;
              font-weight: 300;
              font-size: 36px;
              margin-top: 20px;
              @include tablet () {
                line-height: 45px;
              }
              br.mob-display {
                display: none;
                @include tablet () {
                  display: inline;
                }
              }
              
          }
          .content {
              font-weight: 100;
              line-height: 1.5;
              margin-top: 16px;
              margin-bottom: 26px;
          }
      }
    }
  }
}