section.tips {
    // height: 200px;
    background-color: #EEE9E7;
    // border: 2px solid blue;
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 50px 20px;
        // border: 2px solid blue;
        @include desktop_min () {
            max-width: 769px;
            height: auto;
        }
        @include tablet () {
            max-width: 560px;
        }
        .tips-title-block {
            position:relative;
            display: inline-block;
            margin: 0 auto;
            // margin-top: 55px;
            margin-bottom: 31px;
            width: 461px;
            height: 64px;
            @include tablet () {
                width: 100%;
                // margin-bottom: 20px;
            }
            // border-color: red;
            hr {
                position: absolute;
                width: 461px;
                height: 3px;
                color: #979797;
                top: 25px;
                @include tablet {
                    display: none;
                }
            }
            .tips-title {
                padding: 0 13px;
                background-color: #EEE9E7;
                position: absolute;
                margin: 0 auto;
                color: #3D1101;
                font-size: 20px;
                line-height: 32px;
                z-index: 5;
                left: 50%;
                margin: 0 -106px;
                @include desktop_min () {
                    font-size: 18px;
                }
                @include tablet () {
                    font-size: 20px;
                }
            }
        }
        ul.tips-list {
            display: flex;
            // border: 2px solid red;
            justify-content: space-around;
            // margin-bottom: 50px;
            @include tablet () {
                display: block;
            }
            li {
                max-width: 260px;
                padding: 5px;
                // border: 2px solid green;
                @include tablet () {
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                img {
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    margin-bottom: 20px;
                }
                .tip-title {
                    margin-bottom: 11px;
                    font-size: 18px;
                    color: #3D1101;
                    @include desktop_min () {
                        font-size: 16px;
                    }
                    @include tablet () {
                        font-size: 18px;
                    }
                }
                .tip-content {
                    font-size: 16px;
                    color: #3D1101;
                    line-height: 24px;
                    text-align: left;
                    @include desktop_min () {
                        font-size: 14px;
                        line-height: 18px;
                        padding: 0 5px;
                    }
                    @include tablet () {
                        font-size: 16px;
                        line-height: 24px;
                        padding: 0;
                    }
                }
            }
            @include tablet () {
                li.final-li {
                    margin-bottom: 0;
                }
            }

        }
    }
    

}