section.tips {
    // height: 200px;
    background-color: #EEE9E7;
    // border: 2px solid blue;
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 20px;
        // border: 2px solid blue;
        .tips-title-block {
            position:relative;
            display: inline-block;
            margin: 0 auto;
            margin-top: 55px;
            margin-bottom: 31px;
            width: 461px;
            height: 64px;
            // border-color: red;
            hr {
                position: absolute;
                width: 461px;
                height: 3px;
                color: #979797;
                top: 25px;
            }
            .tips-title {
                padding: 0 13px;
                background-color: #EEE9E7;
                position: absolute;
                margin: 0 auto;
                color: #3D1101;
                font-size: 20px;
                line-height: 32px;
                z-index: 5;
                left: 50%;
                margin: 0 -106px;
            }
        }
        ul.tips-list {
            display: flex;
            // border: 2px solid red;
            justify-content: space-around;
            // margin-bottom: 50px;
            li {
                width: 260px;
                margin-bottom: 50px;
                // border: 2px solid green;
                img {
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    margin-bottom: 20px;
                }
                .tip-title {
                    margin-bottom: 11px;
                    font-size: 18px;
                    color: #3D1101;
                }
                .tip-content {
                    font-size: 16px;
                    color: #3D1101;
                    line-height: 24px;
                    text-align: left;
                }
            }

        }
    }
    

}